<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca de Archivos - Facultad de Psicología</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/biblioteca.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
</head>
<body class="bg-white">
    <div id="header_content"></div>
    <div id="page-content">
        <div class="max-w-7xl mx-auto">
            <section class="mt-8">
                <div class="buscador">
                    <h2 class="titulo text-2xl font-bold pl-4">Archivos compartidos</h2>
                        <div class="seleccion">
                        <label class="block text-gray-700 font-semibold mb-2" for="curso">Asignatura: </label>
                        <select id="miSelect" onchange="redirigir(this)" style="width: 400px; margin-left: 10px;" class=" px-3 py-2 border rounded" id="curso" name="curso">
                            <option value="todos" selected>Todos</option>
                            {% for curso in cursos %}
                                {% if curso.nombre_curso == nombre_curso %}
                                    <option value="{{ loop.index }}" selected>{{ curso.nombre_curso }}</option>
                                {% else %}
                                    <option value="{{ loop.index }}">{{ curso.nombre_curso }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="grid grid-cols-3 md:grid-cols-6 gap-4 mt-4">
                    {% if archivos|length == 0 %}
                        <p class="pl-4" style=" width: 300px">No hay archivos compartidos.</p>
                    {% else %}
                    {% for archivo in archivos %}
                    <div class="flex flex-col items-center" style="max-width: 160px;">
                        <a href="{{ archivo.ruta_archivo }}" target="_blank" download>
                            {% if archivo.tipo in ['jpg', 'jpeg', 'png', 'gif'] %}
                                <img src="{{ archivo.ruta_archivo }}" alt="{{ archivo.nombre_archivo }}" class="file-preview" style="max-height: 140px;"/>
                            {% elif archivo.tipo == 'pdf' %}
                                <canvas id="pdf-canvas-{{ archivo.id }}" class="file-preview" style="max-height: 140px;"></canvas>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        const url = "{{ archivo.ruta_archivo }}";
                                        const canvas = document.getElementById('pdf-canvas-{{ archivo.id }}');
                                        const context = canvas.getContext('2d');

                                        pdfjsLib.getDocument(url).promise.then((pdf) => {
                                            pdf.getPage(1).then((page) => {
                                                const viewport = page.getViewport({ scale: 1.0 });
                                                canvas.height = viewport.height;
                                                canvas.width = viewport.width;

                                                const renderContext = {
                                                    canvasContext: context,
                                                    viewport: viewport
                                                };
                                                page.render(renderContext);
                                            });
                                        });
                                    });
                                </script>
                            {% else %}
                                <div class="flex items-center justify-center file-preview">
                                    <i class="fas fa-file-alt text-3xl text-gray-600"></i>
                                </div>
                            {% endif %}
                        </a>
                        <p class="text-center mt-2">{{ archivo.nombre_archivo }}<br/>{{ archivo.asignatura }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
    <div id="footer_content"></div>
    <script>
        function redirigir(select) {
            var valorSeleccionado = select.value;
    
            if (valorSeleccionado === "todos") {
                window.location.href = "biblioteca";
            }else{
                window.location.href = `biblioteca-cursos-${valorSeleccionado}`;
            }
        }
    </script>
</body>
<script>
    $(document).ready(function() {
        $('#header_content').load('../static/header.html', function() {
            const hamburger = document.getElementById('hamburger');
            const mobileMenu = document.getElementById('mobileMenu');
            const overlay = document.getElementById('overlay');

            hamburger.addEventListener('click', function() {
                mobileMenu.classList.toggle('open');
                overlay.classList.toggle('open');
                hamburger.classList.toggle('open'); 
            });

            overlay.addEventListener('click', function() {
                mobileMenu.classList.remove('open');
                overlay.classList.remove('open');
                hamburger.classList.remove('open'); 
            });
        });

        $('#footer_content').load('../static/footer.html', function() {
            adjustFooter();
        });
    });
</script>

</html>

