body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.file-preview {
    height: 6rem;
    width: 6rem;  
    object-fit: cover;
    border-radius: 0.375rem;
}
.bottom-page{
    margin-bottom: 150px;
}

.editar-perfil{
    width: 110px;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.editar-perfil:hover{
    background-color: #fafafa;
    color: black;
}

.version-mobile{

}
