<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivos del Curso {{ nombre_curso }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Carga de estilos y scripts -->
</head>
<body>
    <div class="max-w-7xl mx-auto">
        <h2 class="text-2xl font-bold pl-4">Archivos del Curso: {{ nombre_curso }}</h2>
        <div class="grid grid-cols-3 md:grid-cols-6 gap-4 mt-4">
            {% if archivos|length == 0 %}
                <p class="pl-4" style=" width: 300px">No hay archivos para este curso.</p>
            {% else %}
                {% for archivo in archivos %}
                    <div class="flex flex-col items-center">
                        <a href="{{ archivo.ruta_archivo }}" target="_blank" download>
                            {% if archivo.tipo in ['jpg', 'jpeg', 'png', 'gif'] %}
                                <img src="{{ archivo.ruta_archivo }}" alt="{{ archivo.nombre_archivo }}" class="file-preview"/>
                            {% elif archivo.tipo == 'pdf' %}
                                <canvas id="pdf-canvas-{{ archivo.id }}" class="file-preview"></canvas>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        const url = "{{ archivo.ruta_archivo }}";
                                        const canvas = document.getElementById('pdf-canvas-{{ archivo.id }}');
                                        const context = canvas.getContext('2d');

                                        pdfjsLib.getDocument(url).promise.then((pdf) => {
                                            pdf.getPage(1).then((page) => {
                                                const viewport = page.getViewport({ scale: 1.0 });
                                                canvas.height = viewport.height;
                                                canvas.width = viewport.width;

                                                const renderContext = {
                                                    canvasContext: context,
                                                    viewport: viewport
                                                };
                                                page.render(renderContext);
                                            });
                                        });
                                    });
                                </script>
                            {% else %}
                                <div class="flex items-center justify-center file-preview">
                                    <i class="fas fa-file-alt text-3xl text-gray-600"></i>
                                </div>
                            {% endif %}
                        </a>
                        <p class="text-center mt-2">{{ archivo.nombre_archivo }}<br/>{{ archivo.asignatura }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>

