<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - UDP Apuntes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .error-message {
            display: none;
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f44336;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            z-index: 1000;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        .error-message.show {
            display: block;
            opacity: 1;
        }
    </style>
</head>

<body class="bg-white">
    <div id="header_content"></div>

    <div class="max-w-7xl mx-auto">
        <div class="bg-white p-8 rounded max-w-lg mx-auto">
            <h2 class="text-2xl font-bold mb-6">Registro</h2>
            <form action="/register" method="post" enctype="multipart/form-data">
                <input type="hidden" id="google_id" name="google_id" value="{{ google_id }}">
                <input type="hidden" id="google_image_url" name="google_image_url" value="{{ google_image_url }}">
                <div class="mb-4">
                    <label class="block text-gray-700 font-semibold mb-2" for="email">Correo</label>
                    <input class="w-full px-3 py-2 border rounded" id="email" name="email" readonly type="text" value="{{ email }}"/>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-semibold mb-2" for="nombre_completo">Nombre Completo</label>
                    <input class="w-full px-3 py-2 border rounded" id="nombre_completo" name="nombre_completo" readonly type="text" value="{{ nombre_completo }}"/>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-semibold mb-2" for="nombre_usuario">Nombre Perfil</label>
                    <input class="w-full px-3 py-2 border rounded" id="nombre_usuario" name="nombre_usuario" type="text" value="{{ nombre_usuario }}"/>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-semibold mb-2" for="contraseña">Contraseña</label>
                    <div class="relative">
                        <input class="w-full px-3 py-2 border rounded" id="contraseña" name="contraseña" type="password"/>
                        <button type="button" onclick="togglePasswordVisibility('contraseña')" style="padding-bottom: 0; background-color: lavender;" class="absolute right-0 top-0 mt-2 mr-2 px-3 py-1 bg-gray-300 rounded">Mostrar</button>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-semibold mb-2" for="rep_contraseña">Repita Contraseña</label>
                    <div class="relative">
                        <input class="w-full px-3 py-2 border rounded" id="rep_contraseña" name="rep_contraseña" type="password"/>
                        <button type="button" onclick="togglePasswordVisibility('rep_contraseña')" style="padding-bottom: 0; background-color: lavender;" class="absolute right-0 top-0 mt-2 mr-2 px-3 py-1 bg-gray-300 rounded">Mostrar</button>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-semibold mb-2" for="año_ingreso">Año de Ingreso</label>
                    <select class="w-full px-3 py-2 border rounded" id="año_ingreso" name="año_ingreso">
                        {% for year in años_ingreso %}
                            {% if year == año_ingreso %}
                                <option value="{{ year }}" selected>{{ year }}</option>
                            {% else %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>                    
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-semibold mb-2">Cursos Inscritos</label>
                    <div style="max-height: 200px; overflow-y: auto;">
                        {% for curso in cursos %}
                            {% if curso.nombre_curso in cursos_inscritos %}
                                <div class="flex items-center mb-2">
                                    <input id="{{curso.nombre_curso}}" checked name="curso_inscrito" value="{{curso.nombre_curso}}" type="checkbox" class="mr-2">
                                    <label for="{{curso.nombre_curso}}" class="text-gray-700">{{ curso.nombre_curso }}</label>
                                </div>
                            {% else %}
                                <div class="flex items-center mb-2">
                                    <input id="{{curso.nombre_curso}}" name="curso_inscrito" value="{{curso.nombre_curso}}" type="checkbox" class="mr-2">
                                    <label for="{{curso.nombre_curso}}" class="text-gray-700">{{ curso.nombre_curso }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-semibold mb-2" for="biografia">Biografía</label>
                    <textarea class="w-full px-3 py-2 border rounded" id="biografia" name="biografia" placeholder="Me gusta estudiar con mi grupo de amigos en la facultad, mi ramo preferido es Psicología social." style="width: 100%; height: 100px; max-height: 300px; min-height: 100px;" maxlength="500" rows="10" cols="50">{{ biografia }}</textarea>
                </div>
                <div class="flex justify-center" style="margin-bottom: 130px;">
                    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
    

    <!-- Mostrar mensaje de error si existe -->
    {% if error_message %}
            <div class="error-message" id="error-message">{{ error_message }}</div>
    {% endif %}
</div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var errorMessage = document.getElementById("error-message");
            if (errorMessage) {
                errorMessage.classList.add("show");
                setTimeout(function() {
                    errorMessage.style.opacity = "0";
                    setTimeout(function() {
                        errorMessage.style.display = "none";
                    }, 500); // Esperar 500ms después de la animación para ocultar completamente
                }, 3000); // Ocultar después de 3 segundos
            }
        });
    </script>
    <div id="footer_content"></div>
</body>
<script>
    function togglePasswordVisibility(id) {
        var input = document.getElementById(id);
        var button = input.nextElementSibling;
        if (input.type === "password") {
            input.type = "text";
            button.textContent = "Ocultar";
        } else {
            input.type = "password";
            button.textContent = "Mostrar";
        }
    }
    </script>
<script>
    $(document).ready(function() {
        $('#header_content').load('../static/header.html', function() {
            const hamburger = document.getElementById('hamburger');
            const mobileMenu = document.getElementById('mobileMenu');
            const overlay = document.getElementById('overlay');

            hamburger.addEventListener('click', function() {
                mobileMenu.classList.toggle('open');
                overlay.classList.toggle('open');
                hamburger.classList.toggle('open'); 
            });

            overlay.addEventListener('click', function() {
                mobileMenu.classList.remove('open');
                overlay.classList.remove('open');
                hamburger.classList.remove('open'); 
            });
        });

        $('#footer_content').load('../static/footer.html', function() {
            adjustFooter();
        });
    });
</script>
</html>
