<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sube tus archivos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .error-message {
            display: none;
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f44336;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            z-index: 1000;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        .error-message.show {
            display: block;
            opacity: 1;
        }
        .bottom-page {
            margin-bottom: 150px;
        }
    </style>
</head>
<body class="bg-white">
<div id="header_content"></div>
<div class="max-w-7xl mx-auto">
    <div class="bg-white p-8 rounded max-w-lg mx-auto">
        <h2 class="text-2xl font-bold mb-6">Sube tus archivos</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label class="block text-gray-700 font-semibold mb-2" for="nombre-archivo">Nombre del Archivo</label>
                <input class="w-full px-3 py-2 border rounded" id="nombre-archivo" name="nombre_archivo" placeholder="Entrevista Dr. Juan Perez" type="text" value="{{ nombre_archivo }}"/>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-semibold mb-2" for="curso">Asignatura</label>
                <select class="w-full px-3 py-2 border rounded" id="curso" name="curso">
                    {% for curso in cursos %}
                        {% if curso == curso_seleccionado %}
                            <option value="{{ curso.nombre_curso }}" selected>{{ curso.nombre_curso }}</option>
                        {% else %}
                            <option value="{{ curso.nombre_curso }}">{{ curso.nombre_curso }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-semibold mb-2" for="unidad">Unidad</label>
                <input class="w-full px-3 py-2 border rounded" id="unidad" name="unidad" placeholder="II" type="text" value="{{ unidad }}"/>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-semibold mb-2" for="archivo">Archivo</label>
                <input type="file" id="archivo" name="archivo" class="hidden" style="display: none;" onchange="document.getElementById('archivo-name').innerText = this.files[0].name">
                <label for="archivo" class="cursor-pointer border-dashed border-gray-300 p-6 text-center rounded">
                    <i class="fas fa-cloud-upload-alt text-3xl text-gray-400 mb-2 block"></i>
                    <p class="text-gray-600">Selecciona un archivo</p>
                    <p id="archivo-name"></p>
                </label>
            </div>
            <div class="flex justify-center">
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Subir</button>
            </div>
        </form>
    </div>
</div>

<!-- Mostrar mensaje de error si existe -->
{% if error_message %}
<div class="error-message" id="error-message">{{ error_message }}</div>
{% endif %}
<div class="bottom-page"></div>
<div id="footer_content"></div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var errorMessage = document.getElementById("error-message");
        if (errorMessage) {
            errorMessage.classList.add("show");
            setTimeout(function() {
                errorMessage.style.opacity = "0";
                setTimeout(function() {
                    errorMessage.style.display = "none";
                }, 500);
            }, 3000);
        }
    });

    $(document).ready(function() {
        $('#header_content').load('../static/header.html', function() {
            const hamburger = document.getElementById('hamburger');
            const mobileMenu = document.getElementById('mobileMenu');
            const overlay = document.getElementById('overlay');

            hamburger.addEventListener('click', function() {
                mobileMenu.classList.toggle('open');
                overlay.classList.toggle('open');
                hamburger.classList.toggle('open');
            });

            overlay.addEventListener('click', function() {
                mobileMenu.classList.remove('open');
                overlay.classList.remove('open');
                hamburger.classList.remove('open');
            });
        });
        $('#footer_content').load('../static/footer.html');
    });
</script>
</body>
</html>
