body{
    margin: 0px;
    padding: 0px;
}

.PerfilWeb{
    width: 100%;
    height: 100vh;
    background: white;
    align-items: center;
}

.NavbarEscritorio{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    background-color: transparent;
    cursor: pointer;
    transition: all 1s ease;
    color: black; font-size: 20px; font-family: Ubuntu; font-weight: 250; word-wrap: break-word

}



.btn1:hover{
    font-style: italic;
}
.btn2:hover{
    font-style: italic;
}

.btn1{
    color: black; font-size: 20px; font-family: Ubuntu; font-weight: 250; word-wrap: break-word; text-decoration: none;

}

.btn2{
    flex: 1 1 0; height: 32px; color: black; font-size: 24px; font-family: Ubuntu; font-weight: 500; word-wrap: break-word; text-decoration: none;
}

.pie{
    display: flex;
    align-items: center;
    position: absolute;
}
 
.btn3{
    height: 25px; color: black; font-size: 24px; font-family: Ubuntu; font-weight: 5000; word-wrap: break-word; text-decoration: none;
    align-items:start;
}


